@font-face {
  font-family: icon;
  src: url(Fonts/icomoon.woff);
}

.addIcon:before {
    content: "\e973";
    font-family: icon;
}

.refuseIcon:before{
  content: "\ea0b";
  font-family: icon;
}

.searchIcon:before {
  content: "\e986";
  font-family: icon;
  font-size: 0.8rem;
}

.searchForm{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.friend-list > ul > li{
  line-height: 2rem;
}

.shareIcon:before {
  content: "\ea7d";
  font-family: icon;
}

.messageIcon:before {
  content: "\e96c";
  font-family: icon;
}

.deleteIcon:before {
  content: "\e974";
  font-family: icon;
}

.addFriendSearchResult {
  margin-bottom: 1px;
}
.addFriendSearchResult div {
  padding: 4.4px 12px 4.4px 12px;
  display: inline-block;
}

.extraBtn {
  border: solid 1px;
  border-radius: 0px 3px 3px 0px;
  width: 35%;
  text-align: center;
}

.extraBtn:before{
  font-family: icon;
  font-size: 0.8em;
}

.cancelRequest {
  border-color: #e2595a;
  background-color: #e2595a;
  color: white;
}
.cancelRequest:hover {
  border-color: #d2494a;
  background-color: #d2494a;
}
.cancelRequest:before {
  content: "\e974";
}

.sendRequest {
  border-color: #99da9e;
  background-color: #99da9e;
  color: white;
}
.sendRequest:hover {
  border-color: #89ca8e;
  background-color: #89ca8e;
}
.sendRequest:before {
  content: "\e973";
}

.deleteFriend {
  border-color: #e2595a;
  background-color: #e2595a;
  color: white;
}
.deleteFriend:hover {
  border-color: #d2494a;
  background-color: #d2494a;
}
.deleteFriend:before {
  content: "\e974";
}

.addFriendSearchResultItem{
  border: #ccc solid;
  border-width: 1px 0px 1px 0px;
  width: 65%;
}

.searchResult_Requested span:before {
  content: "\e973";
  font-family: icon;
  font-size: 0.8rem;
  color: black;
}
.searchResult_Requested span {
  border-color: #ccc;
  background-color: #ccc;
}

.searchResult_Normal span:before {
  content: "\e971";
  font-family: icon;
  font-size: 0.8rem;
  color: white;
}
.searchResult_Normal span {
  border-color: #f0ad4e;
  background-color:#f0ad4e;
}

.searchResult_Friend span:before {
  content: "\e975";
  font-family: icon;
  font-size: 0.8rem;
  color: white;
}
.searchResult_Friend span {
  border-color: #99da9e;
  background-color: #99da9e;
}

#addFriendSearchResults {
  list-style-type: none;
  padding: 0px;
}

.friend {
  width: 100%;
  padding: 4px 10px 4px 10px;
  border-bottom: #ccc solid 1px;
}

.friendItem {
  list-style-type: none;
  border: #ccc solid 1px;
  border-radius: 5px;
}

.friendBtn {
  display: inline-table;
  width: 71px;
  border-width: 0px;
  border-radius: 0px;
}

.pendingBtn {
  display: inline-table;
  width: 106px;
  border-width: 0px;
  border-radius: 0px;
}

.btn-share {
  background-color: #0275d8;
  border-radius: 0px 0px 0px 4px;
}
.btn-share:hover {
  background-color: #025aa5;
}

.btn-msg {
  background-color: #5bc0de;
}
.btn-msg:hover {
  background-color: #31b0d5;
}

.btn-delete {
  background-color: #d9534f;
  border-radius: 0px 0px 4px 0px;
}
.btn-delete:hover {
  background-color: #c9302c;
}

.btn-add {
  background-color: #99da9e;
  border-radius: 0px 0px 0px 4px;
}
.btn-add:hover {
  background-color: #89ca8e;
}

.btn-refuse {
  background-color: #ccc;
  border-radius: 0px 0px 4px 0px;
}
.btn-refuse:hover {
  background-color: #bbb;
}