.bg-1{
	background-color:#4da6ff;
	padding: 5%;
	margin-bottom: 4rem;
	color: white;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
}

h1{
	line-height: 150%;
	font-style: bold;
	font-weight: 700;
}

p{
	margin-bottom: 5rem;
}

.logo-2{
	height:256px;
}

.btn{
	color:#ff3300;
	border:2px solid #ff3300;
}

.btn:hover, .btn:active{
	color:#e62e00;
	border:2px solid #cc2900;
}

.marketing h2 {
  font-weight: normal;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
  text-align: left;
}

@font-face {
    font-family: icon;
    src: url(Fonts/icomoon.woff);
}

.todo:before {
    content: "\e9ba";
    font-family: icon;
    font-size: 120px;
    color: #4da6ff;
}

.alarm:before {
    content: "\e950";
    font-family: icon;
    font-size:120px;
    color: #ffbf00;
}

.timer:before {
    content: "\e952";
    font-family: icon;
    font-size:120px;
    color: #ff3300;
}