@font-face {
    font-family: icon;
    src: url(Fonts/icomoon.woff);
}

.planForm {
    padding: 1rem;
    color: darkgrey;
}

.importance1:before {
    font-family: icon;
    content: "\e9d9\e9d7\e9d7";
    cursor: pointer;
}
.importance2:before {
    font-family: icon;
    content: "\e9d9\e9d9\e9d7";
    cursor: pointer;
}
.importance3:before {
    font-family: icon;
    content: "\e9d9\e9d9\e9d9";
    cursor: pointer;
}

/* Header */
.header {
    color: #ff3300;
}

.planTagHeader{
    cursor: pointer;
}

.planTagHeaderIconDown:before {
    content: "\e9bf";
    font-family: icon;
}

.planTagHeaderIconUp:before {
    content: "\e9c0";
    font-family: icon;
}

.planName-input{
    border-color: #ff3300;
}

.planName-input:focus{
    border-color: #ff3300;
    box-shadow: 0 0 2px red;
}

/* Plan Description */
.planDescIcon:before {
    content: "\ea0a";
    font-family: icon;
}

.planDesc-active {
    color: #ff8000;
}

.planDesc-active-input{
    border-color:#ff8000;
}

.planDesc-input:focus{
    border-color:#ff8000;
    box-shadow: 0 0 2px orange;
}

/* Custom Tag */
.newCustomTagIcon:before {
    content: "\e935";
    font-family: icon;
}

.tags-active{
    color: #ffcc00;
}

.tags-active-input{
    border-color:#ffcc00;
}

.tags-input:focus{
    border-color:#ffcc00;
    box-shadow: 0 0 2px yellow;
}

/* Due */
.dueTagIcon:before {
    content: "\e953";
    font-family: icon;
}

.due-active{
    color: #009900;
}

.due-active-input{
    border-color:#009900;
}

.due-input:focus{
    border-color:#009900;
    box-shadow: 0 0 2px green;
}

/* Repeat */
.repeatTagIcon:before {
    content: "\ea2d";
    font-family: icon;
}

.repeat-active{
    color: #3399ff;
}

.repeat-active-input{
    border-color: #3399ff;
}

.repeat-input:focus{
    border-color: #3399ff;
    box-shadow: 0 0 2px dodgerblue;
}

/* Reminder */
.reminderTagIcon:before {
    content: "\e951";
    font-family: icon;
}

.reminderTagIcon-active{
    color: #5353c6;
}

.reminder-active-input{
    border-color: #5353c6;
}

.reminder-input:focus{
    border-color: #5353c6;
    box-shadow: 0 0 2px slateblue;
}

.reminder{
    text-align: center;
    cursor: pointer;
    color: white;
    height: 30px;
    line-height: 30px;
    margin-top: 4px;
    margin-bottom: 0px;
}

.reminderDisabled {
    background-color: darkgrey;
}

.reminderEnabled {
    background-color: #5353c6;
    color: white;
}

.phonePushIcon:before {
    content: "\e958";
    font-family: icon;
}

.phoneAlarmIcon:before {
    content: "\e950";
    font-family: icon;
}

.desktopPushIcon:before {
    content: "\e956";
    font-family: icon;
}

/* Url */
.urlTagIcon:before {
    content: "\e9cb";
    font-family: icon;
}

.url-active {
    color: rebeccapurple;
}

.url-active-input{
    border-color: rebeccapurple;
}

.url-input:focus{
    border-color: rebeccapurple;
    box-shadow: 0 0 2px darkviolet;
}

/* Location */
.locationTagIcon:before {
    content: "\e947";
    font-family: icon;
}

.locationTagIcon-active {
    color: #c6538c;
}

.location-active-input{
    border-color: #c6538c;
}

.location-input:focus{
    border-color: #c6538c;
    box-shadow: 0 0 2px #c65370;
}

.map {
    background-color: darkgrey;
}

.cancel:before {
    content: "\ea0f";
    font-family: icon;
    color:gray;
    cursor: pointer;
}

.submit:before{
    content: "\ea10";
    font-family: icon;
    cursor: pointer;
}

.subHidden {
    display: none;
}

.dropDownList {
    color: black;
}