.navbar {
	background-color: white;
	padding-right: 8%;
	padding-left: 8%;
}

.logo{
	float: left;
	height: 50px;
	width: 200px;
}

.nav-item{
	font-size:16px;
	margin-top: 10px;
}

.myForm{
	background-color: white;
	margin: auto;
	margin-top:2%;
	padding: 30px;
}

@media screen and (min-width: 500px) {
	.myForm{
		width: 500px;
	}
}

.warning{
	font-size: 14px;
}

.lineWithWords {
   color: #c7c7c7;
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #c7c7c7; 
   line-height: 0.1em;
   margin: 40px 0 20px; 
} 

.lineWithWords span { 
    background:#fff; 
    padding:0 10px; 
}

.centerImg {
	display: block;
    margin: 0 auto;
}