/*
 * Sidebar
 */
.sidebar {
  position: fixed;
  top: 0;
  left: -12rem;
  width: 12rem;
  bottom: 0;
  display: block;
  z-index: -1;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #fafafa;
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
  color: #ff5c33;
}

.nav-sidebar > li {
  padding-right: 20px;
  padding-left: 20px;
  line-height: 2.5rem;
}

.primary-nav{
  font-size: 1.1rem;
}

a, a:hover, a:active, a:visited{
  color: #ff5c33;
}

a{
  text-decoration: none;
}

.nav-sidebar > .active{
  background-color: #ff5c33;
}

.active-a, .active-a:hover, .active-a:active, .active-a:visited{
  color: white;
}

.friend-list {
  position: absolute;
  top: 0;
  width: 16rem;
  right: 0;
  bottom: 0;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #fafafa;
  border-left: 1px solid #eee;
}

/*
 * Icon
 */

 @font-face {
    font-family: icon;
    src: url(Fonts/icomoon.woff);
}

.menu:before {
  content: "\e9bd";
  font-family: icon;
  color: #ff5c33;
}

.menu{
  color:#ff5c33;
}

.close-menu:before{
  content: "\ea0f";
  font-family: icon;
  color: #ff5c33;
}

.close-menu{
  margin-bottom: 15px;
}

.friends:before{
  content: "\e972";
  font-family: icon;
  color: #ff5c33;
}

.friends{
  color: #ff5c33;
}

.close-friend:before{
  content: "\ea0f";
  font-family: icon;
  color: #ff5c33;
}

.close-friend{
  margin-bottom: 15px;
}

/*
 * Main content
 */

.main {
  padding: 20px;
  position: absolute;
  z-index: -2;
  left: 0;
  right: 0;
}

.cursor-pointer{
  cursor: pointer;
}

.btn-username, .btn-username:hover{
  color: #ff5c33;
  border-color: #ff5c33;
}