.time-item { 
    margin: 0 auto;
    height: 125px;
    text-align: center;
    width: 380px;
}

.control-area {
	margin: 0 auto;
    line-height: 60px;
    font-size: 60px;
    text-align: center;
}

.digit{
	display: inline-grid;
	position: relative;
    padding: 8px;
    border-radius: 8px;
    color: #fff;
    background: #5cb85c;
}

@media screen and (min-width: 544px) {
	.time-item{
		line-height: 100px;
    	font-size: 88px; 
	}

	.digit{
		padding: 0 12px;
		border-radius: 12px;
	}
}

@font-face {
    font-family: icon;
    src: url(Fonts/icomoon.woff);
}

.start-btn:before {
    content: "\ea15";
    font-family: icon;
}

.start-btn{
	color: #5cb85c;
}

.start-btn:hover, .stop-btn-green:hover{
	color: seagreen;
}

.stop-btn:before{
	content: "\ea17";
	font-family: icon;
}

.stop-btn-green{
	color: #5cb85c;
}

.stop-btn-blue{
	color: #428bca;
}

.stop-btn-blue:hover{
	color: #426dcA;
}

.ctrl-btn{
	margin-top: 20px;
	cursor: pointer;
}

.tomato{
	height: 100px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.taskInput{
	border: none;
	border-bottom: 2px solid lightgrey;
	margin-bottom: 20px;
}

.taskInput:focus{
	border-color: grey;
}

.taskName{
	text-align: center;
	margin-bottom: 20px;
}

.piece {
	position:absolute;
    -moz-transform-style:perserve-3d;
    -webkit-transform-style:preserve-3d;
    transform-style:preserve-3d;
    -webkit-transition:all 0.2s;
    -moz-transition:all 0.2s;
    transition:all 0.2s;
}

.half {
    background-color: #5cb85c;
    width: 75px;
    height: 60px;
    font-size: 75px;
    text-align: center;
    font-family: arial;
    color: white;
    overflow: hidden;
    -moz-backface-visibility:hidden;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
}

.front {
	line-height: 120px;
	border-radius: 5px 5px 0px 0px;
}

.back {
	line-height: 0px;
	border-radius: 0px 0px 5px 5px;
	-moz-transform:translate(0px,0px) rotateX(180deg);
    -webkit-transform:translate(0px,0px) rotateX(180deg);
    transform:translate(0px,0px) rotateX(180deg);
}

.bottom {
	-moz-transform:translate(0px,61px) rotateX(180deg);
    -webkit-transform:translate(0px,61px) rotateX(180deg);
    transform:translate(0px,61px) rotateX(180deg);
}