@font-face {
    font-family: icon;
    src: url(icomoon.woff);
}

body {
	margin: 0px;
	background-color: #dddddd;
}

button {
	width: 200px;
	height: 32px;
	background-color: #ffffff;
	border-style: solid;
	border-color: #cccccc;
}

#toMainPage {
	border-width: 1px 0px 1px 0px;
}

#signIn {
	border-width: 1px 0px 0px 0px;
}

#signUp {
	border-width: 1px 0px 1px 0px;
	margin-bottom: 8px;
}

* {
	outline: none;
	font-size: 12px;
	text-align: left;
}

.Personal:before {
	font-family: icon;
	content: "\e971";
	color: #D72C41;
}

.Study:before {
	font-family: icon;
	content: "\e905";
	color: #4DABEA;
}

.Family:before {
	font-family: icon;
	content: "\e902";
	color: #82D282;
}

.Work:before {
	font-family: icon;
	content: "\e903";
	color: #D3C43D;
}

.main {
	width: 200px;
	max-height: 200px;
	overflow-y: auto;
}

.tagFilter {
	width: 50px;
	display: inline-block;
}

.tagFilter p {
	font-size: 10px;
	text-align: center;
	margin: 2px 0px 0px 0px;
}